
@import "tailwindcss";

@layer base {
  html, body, #root {
    height: 100%;
  }

  body {
    @apply bg-white text-black antialiased font-sans;
  }
}

@layer utilities {
  .text-luxury {
    @apply font-serif;
  }
}
